
body {
    background-color: black;
    color: blanchedalmond;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: blanchedalmond;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
}

nav a {
    color: purple;
}


h2 {
    text-align: center;
    margin-top: 20px;
}


.card {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 10px;
    width: 250px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}


