body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #111;
}

nav {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}





section {
    text-align: center;
    padding: 20px;
}

h2 {
    color: gold;
}

.Foreign{
    display: inline-block;
    width: 250px;
    margin: 15px;
    text-align: center;
}
.domestic{
    display: inline-block;
    width: 250px;
    margin: 15px;
    text-align: center;
}
.local{
    display: inline-block;
    width: 250px;
    margin: 15px;
    text-align: center;
}

img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
